<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" 
           Name="OpenSpeedy" 
           Language="1033" 
           Version="$(var.Version)" 
           Manufacturer="OpenSpeedy" 
           UpgradeCode="12345678-1234-1234-1234-123456789012">
    
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <!-- 添加标准 UI -->
    <UIRef Id="WixUI_Minimal" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <Feature Id="ProductFeature" Title="OpenSpeedy" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="OpenSpeedy" />
      </Directory>
      <Directory Id="ProgramMenuFolder" />
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="MainExecutable" Guid="11111111-1111-1111-1111-111111111111" Win64="yes">
        <File Id="MainExecutable" Source="files\Speedy.exe" KeyPath="yes" />
      </Component>
      <Component Id="StartMenuShortcut" Guid="66666666-6666-6666-6666-666666666666" Win64="yes">
        <Shortcut Id="StartMenuShortcut" 
                 Directory="ProgramMenuFolder" 
                 Name="OpenSpeedy" 
                 Target="[INSTALLFOLDER]Speedy.exe"
                 WorkingDirectory="INSTALLFOLDER"
                 Icon="SpeedyIcon"
                 IconIndex="0" />
        <RemoveFolder Id="RemoveProgramMenuFolder" Directory="ProgramMenuFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\OpenSpeedy" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
      <Component Id="Bridge32" Guid="22222222-2222-2222-2222-222222222222" Win64="yes">
        <File Id="Bridge32Exe" Source="files\bridge32.exe" KeyPath="yes" />
      </Component>
      <Component Id="Bridge64" Guid="33333333-3333-3333-3333-333333333333" Win64="yes">
        <File Id="Bridge64Exe" Source="files\bridge64.exe" KeyPath="yes" />
      </Component>
      <Component Id="SpeedPatch32" Guid="44444444-4444-4444-4444-444444444444" Win64="yes">
        <File Id="SpeedPatch32Dll" Source="files\speedpatch32.dll" KeyPath="yes" />
      </Component>
      <Component Id="SpeedPatch64" Guid="55555555-5555-5555-5555-555555555555" Win64="yes">
        <File Id="SpeedPatch64Dll" Source="files\speedpatch64.dll" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <Icon Id="SpeedyIcon" SourceFile="files\Speedy.exe" />
  </Fragment>
</Wix>
